/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2016, 8:04:42 PM
    Author     : Sky Tang Li Tian
*/

.modal{
    width: 700px;
    height: 250px;
}